@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

body {
    background-color: #252525;
    font-family: 'RobotoDraft', sans-serif;
}

#container{
    margin: 100px;
    text-align: center;
    /* border: 5px solid red; */
    border-radius: 10px;
}

#table_div{
    display:inline-block;
    border-radius: 10px;
    border: 5px solid #666666;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

table{
    border-radius: 10px;
    border-collapse: collapse;
}

td, th {
    font-size: 13px;
    padding: 5px;
    text-align:left;
}

th {
    
    background-color: #666666;
    font-weight: lighter;
    font-size:10px;
}

tr:nth-child(even){
    background-color: #c0c0c0;
}

tr:nth-child(odd){
    background-color: #b1b1b1;
}

#form_div{
    display: none;
}

#bookForm{
    display:inline-block;
    text-align:left;
}

.read_btn{
    border-radius: 4px;
    background-color: #d1d1d1;
    font-weight: lighter;
    text-transform: lowercase;
}

.delete_btn{
    border-radius: 4px;
    background-color: #d1d1d1;
    font-weight: lighter;
    text-transform: lowercase;
}

#newBook{
    margin-top: 5px;
    border-radius: 4px;
    background-color: #d1d1d1;
    font-weight: lighter;
    text-transform: lowercase;
}

#submit_btn{
    border-radius: 4px;
    background-color: #d1d1d1;
    font-weight: lighter;
    text-transform: lowercase;
}

input[type=text]{
    margin: 5px;
    padding: 4px 5px;
    border: 2px solid white;
    border-radius: 2px;
}

input[type=text]:focus{
    border: 2px solid #8db6b4;
}

#readsubmit_div{
    text-align: center;
}